.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0; /* 왼쪽 위치를 0으로 설정합니다 */
    right: 0; /* 오른쪽 위치를 0으로 설정합니다 */
    width: 100%; 
    max-width: 500px; /* 최대 너비를 제한합니다 */
    margin: auto; /* 콘텐츠를 중앙에 배치합니다 */
  }
  
  .tab {
    font-size: 16px;
    color: #000;
    text-align: center; /* 아이콘과 텍스트를 중앙에 정렬합니다 */
  }
  
  .tab-icon {
    display: block; /* 아이콘을 블록 요소로 만듭니다 */
    margin: auto; /* 아이콘을 중앙에 배치합니다 */
    margin-bottom: 5px; /* 아이콘과 텍스트 사이에 간격을 줍니다 */
  }
  