/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFF4DA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu-icon {
    font-size: 24px;
  }
  