.main-content {
    background-color: #EBE09B; 
    padding: 0; 
    margin: 0; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
  }
  
  .section {
    margin: 0; 
  }
  
  .top-section {
    background-color: #FFF4DA;
    padding: 0px;
    border-radius: 0;
    margin: auto;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; /* 콘텐츠를 중앙에 정렬합니다 */
  }
  
  .middle-section {
    padding: 20px;
    border-radius: 0; 
    max-width: 500px; /* 최대 너비를 제한합니다 */
    margin: auto; /* 콘텐츠를 중앙에 배치합니다 */
    background-color: #FFF4DA;
  }
  
  .bottom-section {
    padding: 20px;
    border-radius: 0; 
    max-width: 500px; /* 최대 너비를 제한합니다 */
    margin: auto; /* 콘텐츠를 중앙에 배치합니다 */
    background-color: #FFF4DA;
  }
  
  .logo-area {
    height: 150px; 
    width: 100%; /* 너비를 100%로 설정합니다 */
    max-width: 500px; /* 최대 너비를 제한합니다 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBE09B; 
  }
  